/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
  --plyr-color-main: #4baf47;
  --plyr-video-background: white;

  font-family: Arial, Helvetica, sans-serif, sans-serif !important;
}

.header {
  top: 0;
  left: 0;
  z-index: 1;
  position: sticky;
  display: flex;
  justify-content: space-between;
  background-color: #295442;
  color: #fff;
  width: 100%;
  max-height: 82px;
  padding: 20px 100px;
}

.left {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 4px;
}
.header-left-menu-langue {
  position: absolute;
  background-color: #295442;
  width: 100px;
  display: none;
  border-radius: 4px;
  padding: 6px 10px;
  border: 1px solid #fff;
  z-index: 100;
  bottom: -80%;
  left: 0;
}
.open {
  display: flex;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  gap: 24px;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.donate_header_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: #fff;
  background-color: transparent;
  padding: 10px 18px;
  font-size: 18px;
  border: 1px solid #4baf47;
  border-radius: 5px;
  cursor: pointer;
}

/* ----------------- Main Event -----main_event_content----------- */

.main_event {
  height: calc(100vh - 82px);
  max-height: calc(100vh - 82px);
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px 100px;
}
.main_envent_header {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.main_envent_header_icon {
  position: absolute;
  top: 50%;
  font-size: 30px;
  color: #4baf47;
  right: 0;
}
h1 {
  font-size: 40px;
  font-weight: 600;
  margin: 0;
}
h2 {
  font-size: 28px;
  font-weight: 600;
  margin: 0;
}
.main_envent_header > h1 {
  color: #000;

}
.main_envent_header > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.main_envent_header > div > span {
  color: #24231d;
  font-size: 20px;
  font-weight: 500;
}

/* -----------<!-- main content -->---------- */
.main_event_content {
  display: flex;
  overflow: auto;
  flex: 1;
  justify-content: space-between;
  gap: 24px;
}

.main_event_content-left {
  flex: 1.5;
}
.main_event_content-right {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  gap: 50px;
}

.main_event_content-right-block {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 52px;
}

.main_event_content-right-description {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 250px;
  overflow: auto;
}

.main_event_content-right-link-wrapper {
  display: flex;
  align-items: center;
  gap: 100px;
}

.main_event_content-right-link-wrapper > a {
  color: #4baf47;
}

.plyr {
  margin: 0;
  border-radius: 10px;
}
.funding-process {
  display: flex;
  align-items: center;
  gap: 50px;
  width: 100%;
}

.funding-process > a {
  color: #4baf47;
}

.skill-bar {
  width: 100%;
  height: 10px;
  background-color: #dadada;
  border-radius: 8px;
}

.skill-per {
  height: 10px;
  background: #4baf47;
  border-radius: 8px;
  width: 0;
  transition: 1s linear;
  position: relative;
}

.main_event_content-right-bottom {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-between;
}
.main_event_content-right-bottom > div {
  display: flex;
  align-items: center;
  gap: 4px;
}

.become-sponsor-btn {
  background-color: #4baf47;
  border-color: white;
  border-radius: 40px;
  padding: 12px 14px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

/* ------------Contributors---------------- */
.contributors {
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.header-title {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 900;
  margin-left: 30px;
}
.header-t2 {
  font-size: 45px;
  margin-left: 30px;
}

.member {
  float: left;
  width: 33.33%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}

.member img {
  border-radius: 50%;
  transition: transform 0.3s ease;
  margin-bottom: 14px;
}

.member img:hover {
  transform: scale(1.05);
}

.row::after {
  content: "";
  display: table;
  clear: both;
}
.member p.email {
  color: green;
}
#volunteers {
  border: 1px solid rgb(199, 190, 190);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(49, 45, 45, 0.5);
}

.founder-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.header-founder {
  text-align: left;
}

.row2 {
  display: flex;
  gap: 60px;
}
.founder-image {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.founder-image .h2 {
  text-align: center;
}
.founder-image img {
  width: 100%;
  border-radius: 50%;
}

.founder-info {
}

.founder-info h2 {
  font-size: 24px;
}

.founder-info p {
  font-size: 23px;
  text-align: unset;
}
.email {
  color: rgb(30, 165, 228);
}

.founder-image .name {
  text-align: center;
  margin-top: 10%;
}
.founder-image .header-founder {
  font-size: 45px;
}

.member-info {
  position: relative;
  font-size: 19px;
}

.member-info::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: green;
  margin-left: 25px;
}

.member-info > * {
  margin-left: 35px;
  margin-bottom: 4px;
}

.member-info .email {
  text-decoration: underline;
}

/* ------------------special-event---------------------- */
.special-event {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px 100px;
}
.container {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.block {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  padding: 30px;
  justify-content: center;
  padding: 20px;
}
.special-event-wrapper-img {
  width: 100%;
}
.special-event-wrapper-img img {
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}
.block h2,
p {
  text-align: center;
}

.main-program-content-left-block {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main-program-content-link-wrapper {
  display: flex;
  align-items: center;
  gap: 100px;
}
.main-program-content-link-wrapper > a {
  color: #4baf47;
}

.main-program-content-bottom {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-between;
}
.main-program-content-bottom > div {
  display: flex;
  align-items: center;
  gap: 4px;
}
