/* @import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap'); */
/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  --plyr-color-main: #4baf47;
  --plyr-video-background: white;
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Quicksand", sans-serif;
}

body::-webkit-scrollbar {
  width: 14px;
  background-color: white;
}

body::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #aaa;
}

.header {
  top: 0;
  left: 0;
  z-index: 1;
  position: sticky;
  display: flex;
  justify-content: space-between;
  background-color: #2e7d2a;
  color: #fff;
  width: 100%;
  max-height: 82px;
  padding: 20px 100px;
}

.left {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 4px;
}

.header-left-menu-langue {
  position: absolute;
  background-color: #295442;
  width: 100px;
  display: none;
  border-radius: 4px;
  padding: 6px 10px;
  border: 1px solid #fff;
  z-index: 100;
  bottom: -80%;
  left: 0;
}

.open {
  display: flex;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  gap: 34px;
}

.center > a {
  cursor: pointer;
}

.language-flag {
  width: 30px;
  height: 20px;
}

.language-flag-wrap {
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 16px;
  font-weight: bold;
  gap: 6px;
}
.language-flag-wrap:hover {
  color: black;
  background-color: #ece8e8;
}

.header-center-nav > a {
  text-decoration: none;
  color: #fff;
}

.header-center-nav :hover {
  cursor: pointer;
  opacity: 0.8;
}

.nav-item-active {
  text-underline-offset: 8px;
  text-decoration: underline !important;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.donate_header_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  gap: 4px;
  color: #fff;
  background-color: transparent;
  padding: 10px 18px;
  font-size: 18px;
  /* border: 1px solid #4baf47; */
  border-radius: 5px;
  cursor: pointer;
}

.donate_header_btn {
  color: inherit;
  display: flex;
  align-items: center;
  /* display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: #fff;
  background-color: transparent;
  padding: 10px 18px;
  font-size: 18px;
  border: 1px solid #4baf47;
  border-radius: 5px;
  cursor: pointer; */
}

/* ----------------- Main Event -----main_event_content----------- */

.main_event {
  height: calc(100vh - 30px);
  max-height: calc(100vh - 30px);
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px 100px;
}

.main_envent_header {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.main_envent_header_icon {
  position: absolute;
  top: 50%;
  font-size: 30px;
  color: #4baf47;
  right: 0;
  cursor: pointer;
}

h1 {
  font-size: 40px;
  font-weight: 900;
  color: #000;
  margin: 0;
}

h2 {
  font-size: 28px;
  font-weight: 700;
  margin: 0;
}

.main_envent_header > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.main_envent_header > div > span {
  color: #24231d;
  font-size: 20px;
  font-weight: 500;
}

/* -----------<!-- main content -->---------- */
.main_event_content {
  display: flex;
  overflow: auto;
  flex: 1;
  justify-content: space-between;
  gap: 24px;
}

.main_event_content-left {
  flex: 1.5;
}

.main_event_content-right {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  gap: 18px;
}

.main_event_content-right-block {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
}

.main_event_content-right-description {
  padding: 5px 5px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 250px;
  overflow: auto;
}

.main_event_content-right-description > p {
  text-align: left;
}

.main_event_content-right-description::-webkit-scrollbar-thumb {
  background: green;
}

.main_event_content-right-description::-webkit-scrollbar {
  /* green */
  width: 5px;
  height: 8px;
  border-radius: 2px;
  background-color: #aaa;
  /* or add it to the track */
}

.main_event_content-right-link-wrapper {
  display: flex;
  align-items: center;
  gap: 100px;
}

.main_event_content-right-link-wrapper > a {
  font-size: 18px;
  color: black;
  text-underline-offset: 4px;
}

.plyr {
  margin: 0;
  border-radius: 10px;
}

.funding-process {
  display: flex;
  align-items: center;
  gap: 50px;
  width: 100%;
}

.funding-process > a {
  color: #4baf47;
}

.skill-bar {
  flex: 1;
  height: 10px;
  background-color: #dadada;
  border-radius: 8px;
}

.skill-per {
  height: 10px;
  background: #4baf47;
  border-radius: 8px;
  width: 0;
  transition: 1s linear;
  position: relative;
}

.main_event_content-right-bottom {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-between;
}

.main_event_content-right-bottom > div {
  display: flex;
  align-items: center;
  /* gap: 4px; */
}

.become-sponsor-btn {
  background-color: #4baf47;
  border-color: white;
  border-radius: 40px;
  padding: 12px 14px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

/* ------------Contributors---------------- */
.contributors {
  padding: 50px 100px 150px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.header-title {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 900;
  margin-left: 30px;
}

.header-t2 {
  font-size: 45px;
  margin-left: 30px;
}

.member {
  float: left;
  width: 33.33%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}

.member img {
  border-radius: 50%;
  transition: transform 0.3s ease;
  margin-bottom: 14px;
}

.member img:hover {
  transform: scale(1.05);
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.member p.email {
  color: green;
}

#volunteers {
  border: 1px solid rgb(199, 190, 190);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(49, 45, 45, 0.5);
}

.founder-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.header-founder {
  text-align: left;
}

.row2 {
  display: flex;
  gap: 60px;
}

.founder-image {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.founder-image .h2 {
  text-align: center;
}

.founder-image img {
  width: 100%;
  border-radius: 50%;
}

.founder-info h2 {
  font-size: 24px;
}

.founder-info p {
  font-size: 18px;
  text-align: unset;
}

.email {
  color: rgb(30, 165, 228);
}

.founder-image .name {
  font-size: 21px;
  text-align: center;
  margin-top: 10%;
}

.founder-image .header-founder {
  font-size: 45px;
}

.member-info {
  position: relative;
  font-size: 19px;
}

.member-info::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: green;
  margin-left: 25px;
}

.member-info > * {
  text-align: left;
  margin-left: 35px;
  margin-bottom: 4px;
}

.member-info .email {
  text-decoration: underline;
}

/* ------------------special-event---------------------- */
.special-event {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px 100px;
}

.container {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.block {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  padding: 30px;
  justify-content: center;
  padding: 20px;
}

.block > h2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* Change this line if you want. In this case it trimmed the text to 3 lines. */
  overflow: hidden;
}

.special-event-wrapper-img {
  width: 100%;
}

.special-event-wrapper-img img {
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.block h2,
p {
  text-align: center;
}

.main-program-content-left-block {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main-program-content-link-wrapper {
  display: flex;
  align-items: center;
  gap: 100px;
}

.main-program-content-link-wrapper > a {
  color: black;
  font-size: 18px;
  text-underline-offset: 4px;
}

.main-program-content-bottom {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-between;
}

.main-program-content-bottom > div {
  display: flex;
  align-items: center;
  gap: 4px;
}

/* ======================Blog======================= */
#blog {
  display: flex;
  flex-direction: column;
  color: black;
  gap: 30px;
  padding: 50px 100px;
}

#blog h1 {
  color: black;
  margin: 0 0 0 0;
}

#blog .top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#blog .group-btn {
  display: flex;
}

#blog .group-btn div {
  width: 50px;
  height: 50px;
  background-color: #4baf47;
  border-radius: 50%;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#blog .group-btn div svg {
  width: 24px;
  height: 24px;
}

#blog #list {
  display: flex;
  width: max-content;
}

#formList {
  max-width: 100%;
  overflow: auto;
  margin: 20px auto 50px;
  scroll-behavior: smooth;
  scroll-snap-type: both;
}

#formList::-webkit-scrollbar {
  display: none;
}

#blog .card {
  margin: 0 15px 0 0;
  border-radius: 16px;
  border: 1px solid rgb(245, 245, 245);
  width: 280px;
}

#blog .card img {
  width: 100%;
  border-radius: 16px 16px 0 0;
  margin-bottom: 16px;
}

#blog .card .content {
  /* padding: 16px; */
}

#blog .card h3 {
  margin-bottom: 8px;
}

#blog .card p {
  margin-bottom: 0;
}

/* ------------------FOOTER--------------------- */

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-main-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 50px 100px;
}

.footer-main-wrapper .footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-top-item {
  min-width: 32%;
  border-radius: 30px;
  padding: 20px;
  background-color: #4baf47;
  display: flex;
  gap: 10px;
}

.footer-top-icon-wrapper {
  font-size: 18px;
  color: #4baf47;
  padding: 21px;
  background-color: #fff;
  border-radius: 9999px;
  text-align: center;
  margin: auto 0;
}

.footer-top-item-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-top-item-content > p {
  color: white;
  max-width: 250px;
  text-align: left;
}

.footer-main-bg {
  background-image: url("./assets/img/iuiouyftdrter72-svg.svg");
  background-position: center;
  background-size: cover;
}

.footer-center-items-recent-new {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: auto;
}

.footer-center {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-center-items {
  color: white;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-center-items > p {
  max-width: 300px;
  text-align: left;
}

.footer-copyright {
  border-top: 1px solid #454441;
  padding: 20px 100px 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #24231d;
  color: #ccc;
}

.footer-center-items-quick-link {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-center-items-quick-link > p {
  text-align: left;
}

.footer-send-btn {
  background-color: #4baf47;
  border: 1px solid transparent;
  padding: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.footer-send-btn > i {
  color: #fff;
}

.footer-center-items-email {
  flex: 1;
  color: #fff;
  padding-block: 0;
  padding-inline: 0;
  padding: 20px;
  background-color: transparent;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid #454441;
}

.footer-copyright-service {
  padding-right: 6px;
  border-right: 1px solid #ccc;
}

.footer-center-items-email:focus-visible {
  outline: 0;
  border-color: #fff;
}

/* ----------------- */
/* -- GENERAL CSS RESETS -- */

.language-flag-wrap:hover {
  /* background-color: red; */
}

body {
  /* -- MAIN CONTAINER -- */

  & .select-wrapper {
    width: fit-content;
    color: #fff;

    & .select-btn,
    & .options li {
      display: flex;
      align-items: center;
      height: 3em;
      cursor: pointer;
    }

    & .select-btn {
      /* -- Select button -- */
      background-color: white;
      color: black;
      font-weight: bold;
      /* background-color: #222; */
      justify-content: space-between;
      padding: 0 1em;
      border-radius: 0.5em;
      font-size: 1em;

      &:hover {
        background-color: #ece8e8;
        /* color: white; */
      }

      & ion-icon {
        font-size: 1.35em;
        transition: transform 0.2s linear;
      }
    }

    &.active .select-btn {
      background-color: #ece8e8;

      & ion-icon {
        transform: rotate(-180deg);
      }
    }

    &.active .content {
      display: block;
    }

    & .content {
      /* -- Dropdown container -- */
      position: absolute;
      right: 0;
      top: 100%;
      min-width: 150px;
      background-color: #2e7d2a;
      display: none;
      margin-top: 0.5em;
      /* padding: 0.75em; */
      border-radius: 0.5em;

      & .options {
        /* -- Dropdown options container -- */
        margin-top: 1em;
        margin-bottom: 1em;
        max-height: 12em;
        overflow-y: auto;

        &::-webkit-scrollbar {
          width: 7px;
        }

        &::-webkit-scrollbar-track {
          background-color: #2e2e2e;
          border-radius: 25px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #5e5e5e;
          border-radius: 25px;
        }

        & li {
          font-size: 1em;
          padding-left: 1em;
          border-radius: 0.5em;

          /* &:hover {
            background-color: #4c4c4c;
          } */
        }
      }
    }
  }

  & .select-wrapper-mobile {
    gap: 10px;
    justify-content: center;
    display: flex;
    width: 100%;
    color: #fff;

    & .select-btn-mobile,
    & .options-mobile li {
      display: flex;
      align-items: center;
      height: 3em;
      cursor: pointer;
    }

    & .select-btn-mobile {
      position: relative;
      width: fit-content;
      /* -- Select button -- */
      background-color: white;
      color: black;
      font-weight: bold;
      /* background-color: #222; */
      justify-content: space-between;
      padding: 0 1em;
      border-radius: 0.5em;
      font-size: 1em;

      &:hover {
        background-color: #ece8e8;
        /* color: white; */
      }

      & ion-icon {
        font-size: 1.35em;
        transition: transform 0.2s linear;
      }
    }

    &.active .select-btn-mobile {
      background-color: #ece8e8;

      & ion-icon {
        transform: rotate(-180deg);
      }
    }

    &.active .content-mobile {
      display: block;
    }

    & .content-mobile {
      /* -- Dropdown container -- */
      /* left: 60%;
      top: 44%; */
      /* position: absolute; */
      min-width: 150px;
      background-color: #2e7d2a;
      display: none;
      /* margin-top: 0.5em; */
      /* padding: 0.75em; */
      border-radius: 0.5em;

      & .options {
        /* -- Dropdown options container -- */
        margin-top: 1em;
        margin-bottom: 1em;
        max-height: 12em;
        overflow-y: auto;

        &::-webkit-scrollbar {
          width: 7px;
        }

        &::-webkit-scrollbar-track {
          background-color: #2e2e2e;
          border-radius: 25px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #5e5e5e;
          border-radius: 25px;
        }

        & li {
          font-size: 1em;
          padding-left: 1em;
          border-radius: 0.5em;

          /* &:hover {
            background-color: #4c4c4c;
          } */
        }
      }
    }
  }
}

/* -------------------------modal------------------------ */
.modal {
  /* give me position value for modal */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  animation: ModalFaceIn 0.5s;
}

@keyframes ModalFaceIn {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-form-wrapper {
  background-color: white;
  display: flex;
  gap: 10px;
  width: 70%;
  max-height: 75%;
  border-radius: 20px;
  overflow: hidden;
}
.modal-form-left {
  display: flex;
  gap: 8px;
  flex-direction: column;
  padding: 20px;
  width: 50%;
  max-width: 50%;
  color: black;
  background-color: #38bd43;
  overflow: auto;
}

/* .modal-form-left-wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;
} */
.modal-form-left > p {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.modal-form-left > h1 {
  color: black;
}

.modal-form-left-info-item {
  display: flex;
  /* gap: 6px; */
}

.modal-form-left-info-item > h4 {
  width: 40%;
}

.modal-form-left-info-item > p {
  flex: 1;
  text-align: left;
}

.modal-form-right {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 50%;
  width: 50%;
  overflow: auto;
}

.modal-form-right-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-form-right-header > i {
  cursor: pointer;
  font-size: 30px;
}

.modal-form-right-header > h1 {
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: #38bd43;
  margin-bottom: 8px;
}

.modal-form-right > label {
  color: black;
  font-size: 16px;
  font-weight: 600;
}

.modal-form-right > button {
  margin-left: auto;
  max-width: 100px;
  width: 80px;
  margin-top: auto;
}

.modal-form-right > input {
  border: 1px solid #ddd;
  border-radius: 4px;
}
.modal-form-right > textarea {
  border: 1px solid #ddd;
  border-radius: 4px;
}

.modal-form-right > textarea:focus {
  box-shadow: 0 0 5px #ccc;
  opacity: 1 !important;
  outline: 0;
  color: #333;
  background-color: #fff;
}
.modal-form-right > input:focus {
  box-shadow: 0 0 5px #ccc;
  opacity: 1 !important;
  outline: 0;
  color: #333;
  background-color: #fff;
}

.modal-form-error {
  text-align: left;
  color: red;
  font-size: 14px;
  font-weight: bold;
}

.modal-form-left::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.modal-form-left::-webkit-scrollbar {
  /* green */
  width: 5px;
  height: 8px;
  border-radius: 2px;
  background-color: #38bd43;

  /* or add it to the track */
}

.ph-heart {
  cursor: pointer;
}

/* toast */
#toast {
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 999999;
}

.toast {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 20px 0;
  min-width: 400px;
  max-width: 450px;
  border-left: 4px solid;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
  transition: all linear 0.3s;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(calc(100% + 32px));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.toast--success {
  background-color: #38bd43;
  border-color: #fff;
}

.toast--success .toast__icon {
  color: #fff;
}

.toast--info {
  background-color: #2f86eb;
  border-color: #fff;
}

.toast--info .toast__icon {
  color: #fff;
}

.toast--warning {
  border-color: #fff;
  background-color: #ffc021;
}

.toast--warning .toast__icon {
  color: #fff;
}

.toast--error {
  background-color: #fff;
  border-color: #ff623d;
}

.toast--error .toast__icon {
  color: #ff623d;
}

.toast + .toast {
  margin-top: 24px;
}

.toast__icon {
  font-size: 24px;
}

.toast__icon,
.toast__close {
  padding: 0 16px;
}

.toast__body {
  flex-grow: 1;
}

.toast__title {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.toast__msg {
  text-align: left;
  font-size: 18px;
  color: #fff;
  margin-top: 6px;
  line-height: 1.5;
}

.toast__close {
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

/* vi tri button thoi thoi */
.header-button-menu {
  position: relative;
  top: 5%;
  right: 0%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.25s ease;
  border: 0;
  background-color: transparent;
  display: none;
}
.header-button-menu:hover {
  opacity: 0.7;
}
.header-button-menu.active .header-button-menu-top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #fff;
}
.header-button-menu.active .header-button-menu-middle {
  opacity: 0;
  background: #fff;
}
.header-button-menu.active .header-button-menu-bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #fff;
}
.header-button-menu span {
  background: #fff;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.35s ease;
  cursor: pointer;
}
.header-button-menu span:nth-of-type(2) {
  top: 11px;
}
.header-button-menu span:nth-of-type(3) {
  top: 22px;
}

.header-menu-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
  font-weight: 300;
}
.header-menu-overlay.open {
  opacity: 0.9;
  visibility: visible;
  height: 100%;
}
.header-menu-overlay.open li {
  animation: fadeInRight 0.5s ease forwards;
  animation-delay: 0.35s;
}
.header-menu-overlay.open li:nth-of-type(2) {
  animation-delay: 0.4s;
}
.header-menu-overlay.open li:nth-of-type(3) {
  animation-delay: 0.45s;
}
.header-menu-overlay.open li:nth-of-type(4) {
  animation-delay: 0.5s;
}
.header-menu-overlay nav {
  position: relative;
  margin-top: 80px;
  width: 100%;
  height: 100%;
  left: 0;
  font-family: montserrat, sans-serif;
  font-weight: 400;
}
.header-menu-overlay ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* align-items: center; */
  gap: 4px;
  list-style: none;
  height: 100%;
}
.header-menu-overlay ul li {
  width: 100%;
  text-align: center;
  background-color: #2e7d2a;
  display: block;
  padding: 20px 0;
  color: white;
  font-size: 20px;
  font-weight: bold;

  opacity: 0;
}
.header-menu-overlay ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
}
.header-menu-overlay ul li{
  position: relative;
}
.header-menu-overlay ul li:hover:after,
.header-menu-overlay ul li:focus:after,
.header-menu-overlay ul li:active:after {
  text-decoration: dashed;
  width: 100%;
}
.header-menu-overlay ul li:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 2px;
  background: #fff;
  transition: 0.35s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
} /*# sourceMappingURL=styles.css.map */
